<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/static/main.css">
</head>
<body>
	<header>
		<h1>SMART GRID <span>CONTROL SYSTEM</span></h1>
	</header>
	<main>
		<div class="box">
			<div class="box__image">
				<img src="/static/my_plot.png" alt="">
			</div>
			<button>NEXT</button>	
		</div>
	</main>
	<nav>
		<div class="nav__buttons">
			<div class="nav__icon">
				<a href="{{ url_for('index') }}"><img src="/static/img/home.svg" alt=""></a>
			</div>	
			<div class="nav__icon">
				<a href="{{ url_for('representation') }}"><img class="super" src="/static/img/graphic-style.svg" alt=""></a>
			</div>	
			<div class="nav__icon">
				<a href="{{ url_for('output') }}">
					<img src="/static/img/check-circle.svg" alt="">
				</a>
			</div>	
		</div>
	</nav>		
</body>
</html>